html {
    padding: 30px 10px;
    line-height: 1.4;
    background: #f0f0f0;
}

body {
    max-width: 750px;
    _width: 750px;
    padding: 30px 65px 50px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
    background: #fcfcfc;
}

h1 {
    border-bottom: 1px solid #CCC
}

::-moz-selection {
    background: #fe57a1;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #fe57a1;
    color: #fff;
    text-shadow: none;
}

a {
    color: #4B7DC8;
    text-decoration: none;
    line-height: inherit;
    font-weight: inherit;
}

a:visited { 
    color: #4B7DC8; 
}

a:hover {
    color: #4B7DC8;
    text-decoration: underline;
}

input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
