<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8">

  <title>Theme gallery</title>
  <meta name="description" content="">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/page.css">

  <style type="text/css">
    {{style}}
  </style>

  <!-- All JavaScript at the bottom, except this Modernizr build. -->
  <script src="js/vendor/modernizr-2.5.3.min.js" type="text/javascript"></script>
</head>

<body>
  <!-- Prompt IE 6 users to install Chrome Frame. -->
  <!--[if lt IE 9]>
    <p class=chromeframe>
      Your web browser is <em>ancient!</em> <a href="http://browsehappy.com/">You should upgrade to a new browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.
    </p>
  <![endif]-->

  <!-- Page content will be injected here -->
  <div id = "content">
  {{content}}
  </div>

  <!-- JavaScript at the bottom for fast page loading -->
  <script src=js/main.js type="text/javascript"></script>
  <script src=js/plugins.js type="text/javascript"></script>
  <script src=js/vendor/jquery-1.7.2.min.js type="text/javascript"></script>
  <script>
    $('.output, .warning, .error, .message').addClass('comment')
  </script>

</body>
</html>
