<!-- index page nav bar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
  
    <!-- bits that show in small windows -->
    <div class="navbar-header">
      <a href="{{baseURL}}" class="navbar-brand">{{siteName}}</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    
    <!-- bits that show in large windows -->
    <div class="navbar-collapse collapse" id="navbar-main">

      <!-- bits on the right -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://rna.wlu.edu/r" target="_blank">RStudio</a></li>
      </ul>
    </div>
    
  </div>
</div>
